---
import { Image } from 'astro:assets'
import PotheadBooks from '@images/project-photos/projects-potheadbooks.png'
import Button from '@components/Button.astro'
const { src, title, text, url, href } = Astro.props
---

<div class="card">
  <a href={href} rel="noopener noreferrer" class="card-link"></a>
  <div class="card-image-container">
    <Image src={src} alt={title} loading="lazy" />
    <div class="card-text-container">
      <h3>{title}</h3>
      <p class="body-text">
        {text}
      </p>
      <Button color="secondary" class="card-button" showExternalIcon={true}
        >{url}</Button
      >
    </div>
  </div>
</div>

<style>
  :global(.poop) {
  }
  .card {
    width: 100%;
    height: max(45rem, 100%);
    overflow: hidden;
    background-color: var(--bg-surface);
    border-radius: var(--br-02);
    box-shadow: var(--shadow-shallow);
    border: var(--image-border);
    transition:
      transform 280ms ease-out,
      box-shadow 680ms ease-out;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-deep);
    cursor: pointer;
  }

  .card:hover :global(.card-button) {
    background-color: var(--button-secondary__hover);
  }

  .card-link {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .card-text-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: var(--sp-02);
    padding-inline: var(--sp-05);
    padding-block: var(--sp-06);
  }

  .card-image-container {
    aspect-ratio: 4 / 3;
    position: relative;
  }
  .card-image-container::after {
    aspect-ratio: 4 / 3;
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      oklch(from var(--neutral-500) l c h / 0.15),
      transparent 70%
    );
    z-index: 1;
  }

  .card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .body-text {
    margin-bottom: var(--sp-04);
  }
</style>
